<script src="/siofu/client.js"></script>
<div id="mario-chat" #marioChat>
  <h2>{{ username }}</h2>
  <input #myInput placeholder="Search" [(ngModel)]="name" (input)="findWord(myInput.value)">
  <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
  <div id="chat-window">
      <div class="container" *ngFor="let item of messageArray">
        <label class="username">{{item.username}}</label> 
        <label style="float: right;">{{item.created|date:'HH:mm'}}</label> 
        <p [class.userMessage] = "item.username == authService.getLoggedInUser().username" [class.secUserMessage]="item.username != authService.getLoggedInUser().username">
           {{ item.content }}            
          </p> 
          <button *ngIf="item.fileName" (click)="downloadFile(item.file,item.fileName)">{{item.fileName}}</button>
                      <label >{{item.likes.length}} likes   </label>
            <label>{{item.dislikes.length}}  dislikes</label>
            <button id = "like_button" matTooltip="{{item.likes}}" (click)="liked(item._id)" >
              <mat-icon class="icon">thumb_up_alt</mat-icon>
            </button>
            <button id="dislike_button" matTooltip="{{item.dislikes}}" (click)="disliked(item._id)" ><!--[disabled]="item.dislikes.includes(item.username)">-->
                <mat-icon class="icon">thumb_down_alt</mat-icon>
            </button>               
      </div>
  </div>
  <input (keypress)="typing()" [(ngModel)]="message" name="message" type="text" placeholder="Message" /> 
  
  <input type="file" (change)="onFileChanged($event)">
  <!--<form [formGroup]="form">
    <input type="file" formControlName="fileInput">
  </form>
  <angular-file-uploader [config]="afuConfig" #fileUploader></angular-file-uploader>         -->
  <button id="send" (click)="sendMessage()">Send</button>    
</div>
