<div>
  <br>
  <mat-card>
    <h3>Users</h3>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="users">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef> Branch </th>
        <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
      </ng-container>

      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
      </ng-container>

      <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.approved}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right"> Actions </th>
          <td mat-cell *matCellDef="let element" class="mat-column-right">
            <button mat-button color="primary" (click)="editUser(element._id)">Edit</button>
            <button mat-button color="warn" (click)="deleteUser(element._id)">Delete</button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
<app-edit-modal id="edit-modal">
    <div class="modal">
        <div class="modal-body">
          <mat-card>
            <section class="mat-typography">
                <h3>Update User</h3>
            </section>
            <mat-divider></mat-divider>
            <br> 
            <form id=form [formGroup]="updateForm" class="edit-form">
                <mat-form-field class="field-full-width">
                  <input placeholder="Username" matInput formControlName="username" #username>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <mat-select placeholder="Role" [(ngModel)]="selectedrole" formControlName="role" #role>
                        <mat-option *ngFor="let role of roles" [value]="role.value">
                          {{role.viewValue}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                <mat-form-field class="field-full-width">
                    <mat-select placeholder="Branch" [(ngModel)]="selectedbranch" formControlName="branch" #branch>
                        <mat-option *ngFor="let branch of branches" [value]="branch.value">
                          {{branch.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>                
                <mat-form-field class="field-full-width">
                    <mat-select placeholder="Course" [(ngModel)]="selectedcourse" formControlName="course" #course>
                        <mat-option *ngFor="let course of courses" [value]="course.value">
                          {{course.viewValue}}
                        </mat-option>
                      </mat-select>
                   </mat-form-field>
                
                 <!--   <mat-select placeholder="Approved" [(value)]="selectedapproved" formControlName="approved" #approved>
                      <mat-option value="true">True</mat-option>
                      <mat-option value="false">False</mat-option>
                    </mat-select>-->
                    <mat-checkbox class="field-full-width" formControlName="approved" #approved>Approved</mat-checkbox>
                
                <mat-divider></mat-divider>
                <br><br>
                <button mat-raised-button color="accent" (click)="closeModal('edit-modal')">Close</button>&nbsp;
                <button type="submit" (click)="updateUser(username.value, selectedrole, selectedbranch,selectedcourse,approved.checked)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
              </form>
          </mat-card>       
      </div>
      </div>
      <div class="modal-background"></div>
</app-edit-modal>


