<div>
  <br>
  <mat-card>
    <h3>Forums</h3>
    <mat-divider></mat-divider>
   <br>
    <button mat-raised-button color="primary" (click)="addNewForum.open()" *ngIf="authService.isAdmin()">Create Forum</button>
    <modal #addNewForum>
      <ng-template #modalBody>
        <div class="modal-body" style="text-align:center;">
          <h4 style="padding: 0px 15px 0px 15px;">Insert new forum name:</h4>
        <input type="text" placeholder="Forum name" #forumName>
        <br><br>
        <button mat-raised-button class="save-button" (click)="addForum(forumName.value) && addNewForum.close()">Save</button>
      <br> 
      </div>
      </ng-template>
    </modal>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="forums">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right"> Action </th>
          <td mat-cell *matCellDef="let element" class="mat-column-right">
            <button mat-button color="primary" (click)="openForum(element)">Open</button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>
    <h4>Suggested Forums</h4>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="suggestedForums">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">{{item}}</td>
      </ng-container>
      <ng-container matColumnDef="myAction">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right"></th>
        <td mat-cell *matCellDef="let item" class="mat-column-right">
          <button mat-button color="primary" (click)="joinForum(item)">Join</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </mat-card>
</div>