<div style="text-align:center">
    <h1>Welcome to she codes;</h1>
    <p>
      she codes; is a community of women in technology, created to achieve an equal number of female and male software developers in Israel. 
      <br>Founded in 2013 by Ruth Polachek, today she codes; includes approximately 20,000 members. 
      <br>Our members include women who want to learn software development or make a career shift into high-tech, 
      <br>developers who want to advance their skills and network with other women in high-tech and high school 
      <br>students who are learning to program. 
      <br><br><br> Click on Login to get Started!!!
    </p>
  </div>
